


@font-face {
    font-family: 'Goudy'; 
    src: url('../fonts/GoudyBookletter.ttf') format('truetype'); 
}       

:root {
    --primary-color: rgb(161,124,107);
    --secondary-color: rgb(88,139,139);
    --accent-color: rgb(107,143,113);
    --background-color: rgb(49,47,47);
    --text-color: rgb(248,236,220);

    --primary-colorT: 161,124,107;
    --secondary-colorT: 88,139,139;
    --accent-colorT: 107,143,113;
    --background-colorT: 49,47,47;
    --text-colorT: 248,236,220;


    --transparency: 0.8;
}